# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore venv folder
venv/

# Ignore the files folder
files/

# Ignore jetbrains folder
.idea/

# Ignore .env file
.env

# Docker folders
__pycache__/